.footer {
    background-color:#F2F2F2;
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

.footer__block{
    margin-right: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer__title {
    font-weight: 600;
    font-size: 1.2rem;
}

.footer__list{
    padding-top: 1rem;
    font-size: 1.1rem;
}

.footer__list-item {
margin:1rem 0;
}

@media screen and (max-width: 576px) {

    .footer{

        width: auto;
        padding: 2rem;
        flex-direction: column;

    }
    .footer__block{
        margin-top: 1rem;
        width: 80%
    }
    
}

@media screen and (min-width:415px) and (max-width:780px){

    .footer{
        padding:0rem;
        flex-direction: column;
        justify-content:space-evenly;
        flex-wrap: wrap;
        align-items:center;
    }

}

@media screen and (min-width:780px) and (max-width:1662px) {

    .footer{
        padding:0rem;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
    }

    .footer__block{
        margin-right: 0rem;
    }

}


