.footer {
    background-color:var(--color-g);
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

.footer__block{
    margin-right: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer__title {
    font-weight: 600;
    font-size: 1.2rem;
}

.footer__list{
    padding-top: 1rem;
    font-size: 1.1rem;
}

.footer__list-item {
margin:1rem 0;
}