
.navbar {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__logo {
    width: 30%;
    margin: 3rem;
}

.navbar__list-link--active {
    color: #5f5f63;
}

.navbar__list-item:hover {
    border-top: 4px solid #0065FC;

}

.navbar__img {

    margin: 3rem;
}

.navbar__nav {
    width: 60%;
}

.navbar__list {
    display: flex;
    justify-content: flex-end;

}

.navbar__list-item {
    margin: 1rem;
    font-size: 1rem;
    color: #0065FC;
    font-weight: 400;
    padding: 2.5rem;
    white-space: nowrap
}

.navbar__list-link--bold {
    font-weight: 600;
}



@media screen and (max-width: 412px) {

    .navbar {

        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-flow: wrap;

    }

    .navbar__list-item {
        margin: 0.5rem;
        padding: 0.5rem 0.5rem;

    }




    
}

@media screen and (min-width: 412px)  and (max-width: 415px) {


    .navbar {
        position: relative;
        display: block;
        height: auto;
    }

    .navbar__logo {
        position: absolute;
        top: 0.25rem;
        margin: 1.5rem;
    }

    .navbar__register {
        margin-top: 4rem;
    }


    .navbar__list-link--active {
        color: #5f5f63;
    }

    .navbar__img {
        margin: 3rem;
    }

    .navbar__list {

        display: flex;
        flex-flow: wrap-reverse;

    }

    .navbar__list-item {
        margin: 1rem;
        padding: 1rem 2.5rem;

    }

    .navbar__activite {
        margin: 0;
        padding-left: 3rem;
        border-bottom: 4px solid #F2F2F2;

    }

    .navbar__activite>a {
        margin: 0;
        padding-left: 3rem;
        border-bottom: 0px;

    }



    .navbar__heber {
        margin: 0;
        padding-right: 3rem;
        border-bottom: 4px solid #0065FC;

    }

    .navbar__list-item:hover {
        /* border-bottom: 4px solid #0065FC; */
        border-top: inherit;
    }







}

@media screen and (max-width:800px) and (min-width:415px) {

    .navbar {

        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-flow: wrap;

    }

    .navbar__list-item {
        margin: 1rem;
        padding: 1rem 1rem;

    }


}