.navbar {
    height: 6rem;
    padding-left: 2rem;
}


.navbar__content {
    display: grid;
    grid-template-columns: 1fr repeat(3, 16rem);
    align-items: center;
    justify-content: center;
}

.navbar__list-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




.navbar__list-link--active {
    color: #5f5f63;
}

.navbar__list-item:hover {
    border-top: 4px solid #0065FC;
}


.navbar__img {
    justify-self: start;
    padding-left: 3rem;

}

.navbar__nav {
    width: 60%;
}

.navbar__list {
    display: flex;
    justify-content: flex-end;

}

.navbar__list-item {
    font-size: 1rem;
    color: #0065FC;
    font-weight: 400;
    padding: 2.5rem;

}

.navbar__list-link--bold {
    font-weight: 600;
}





@media screen and (max-width: 768px) {

    .navbar {

        margin: 1rem 0;
        padding: 0;
    }

    .navbar__content {
        width: 100%;
        margin-bottom: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .navBar__img {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: 1rem;
    }


    .navbar__list-item {
        padding: 0.5rem 0.5rem;
        border-bottom: 2px solid #F2F2F2;
    }

    .navbar__list-item:hover {
        border-top: inherit;

        border-bottom: 4px solid #0065FC;
    }

    .navbar__register {
        grid-area: 1 / 2 / 2 / 3;
        order: 2;
        border-bottom: 0px;

    }


}