*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

a { color: inherit; } 

body {
    font-family: "Gill Sans", sans-serif;
    font-size: 62.5%;
}

/* color */
:root {
    --color-b: #0065FC;
    --color-bc: #DEEBFF;
    --color-g: #F2F2F2;
    --color-gf: #5f5f63;
}

.border{
    border: solid 2px black;
}

.title {
    font-size: 1rem;
    margin: 2rem;
}





