.sectionOne {
    margin: 2rem;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* align-items:stretch; */
}

.sectionOne__main {
    /* flex-basis: 3; */
    width: 70%;
    /* flex-grow: 2; */
    background-color: var(--color-g);
    margin-right: 3rem;
    border-radius: 1.5rem;
}

.sectionOne__main-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.sectionOne__second {
    width: 30%;

    /* flex-grow: 1; */
    background-color: var(--color-g);
    border-radius: 1.5rem;

}


.card {
    width: 20rem;
    margin: 1rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1px -2px 23px 0px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 1px -2px 23px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 1px -2px 23px 0px rgba(0, 0, 0, 0.61);

}


.card__photo {

    width: 95%;
    display: block;
    margin: auto;
    padding-top: 0.4rem;
    object-fit: cover;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 8rem;

}

.card__title {
    font-size: 1.1rem;
    padding-top: 0.5rem;
}

.card__title {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin: 0.5rem 1rem;
}

.card__description {
    font-size: 0.8rem;
    margin: 0.5rem 1rem;

}

.card__tarif--bold {
    font-weight: 600;
}

.card__rating {
    margin: 0.5rem 1rem;

}

.card__stars--empty {
    color: var(--color-g)
}

.card__stars--full {
    color: var(--color-b)
}

.sectionOne__main-more {
    font-weight: 600;
}

.cardHorizontal {
    display: flex;
    width: 80%;
    margin: auto;
    /* padding-bottom: 0.5rem; */
    background-color: white;
    border-radius: 1.5rem;

}

.cardHorizontal__info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card__photo--horizontal {
    width: 50%;
    display: block;
    margin: auto;
    padding: 0.4rem;
    object-fit: cover;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    height: 10rem;
}

.card__rating-horizontal {
    padding-top: 3rem;
}

.sectionOne__second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}